.job-details-container {
  margin: 2vh;
  position: relative;
  display:column;
  border-color:black;
  border-style: solid;
  padding:30px;
}

.details-and-map-container {
  display: flex;
  justify-content: space-evenly;
}

.offer-actions {

  display: flex;
  height: 2em;
  margin-top: 8vh;
  margin-bottom: 2vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.offer-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1vh;
}

.map-container {
  width:40%;
}

.quote-input {
  margin-left: 1em;
  margin-right: 1em;
}

.job-details-main {
  margin-top:5em;
  background-color:#dfab3c
}

.job-details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 130vh;
}

.job-detail-img img{
  border-radius:40px;
  max-width: 40vh;
  height: auto;
}

.map-container {
  height: 40vh;
  width: 100%;
}

.offer-button {
  display: flex;
  height: 2em;
  margin-top: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  justify-content: space-between;
}