.job-details-container {
  margin-top: 0vh;
  margin-left: -21vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  
}

.details-and-map-container {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  margin-bottom: 6vh;
}

.offer-actions {
  display: flex;
  height: 2em;
  margin-top: 6vh;
  margin-bottom: 2vh;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: 27vh;
}

.offer-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1vh;
}

.map-container {
  width:40%;
}

#quote-input {
  margin-left: 0em;
  margin-right: -13.8em;
  width: 50.3%;
}

.job-details-main {
  margin-top: 5em;
  margin-left: -11vh;
 
}

.job-details-text {
  display: flex;
  flex-direction: row;
  width: 130vh;
  align-items: center;
  justify-content: space-between;
}

.job-details-map {
  display: flex;
  flex-direction: column;
}

.job-detail-img{
  width: 400px;
  height: 400px;
  border-radius: 43px;
  margin-left: 13vh;
}


.map-container {
  height: 35vh;
  width: 179%;
  border-radius: 40px;
  overflow: hidden;
  margin-left: -9vh;
}

.offer-button {
  display: flex;
  height: 2em;
  margin-top: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 17vw;
}

.detail-map {
  display:flex;
  flex-direction: row;
}

.job-deets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: x-large;
  // max-width: 50%;
  width: 400px;
    margin-right: 5vh;
}

#wrapped-desc {
    text-align: justify;
}

.job-detail-pic {
  align-self: self-start;
  margin-left: 18vh;
}



#comment-quote {
  margin-left:-32vh
}

.quote-input-button{
  display:flex;
  flex-direction: row;
  margin-left: 6vw;
}

.offer-button p{
  font-size: xx-large;
}
