.newlisting-main {

  margin-top:18vh;
}

.newlisting-info {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  margin-right: 15px;
  flex-direction: row;
  width: 90%;
}

.make-offer {
  padding-bottom: 5px;
  display: flex;
  margin-left: 7vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

.make-offer .details-button {
  margin-left: 20px;
  border: none;

}

.make-offer .offer-btn {
  margin-left: 20px;
  border: none;

}
.newlisting-container .msg-btn {
  padding-bottom: 10px;
  margin: 1em;
}


.label-offer-made  {
  border-radius: 30%;
  padding: 0.5vh;
  color: #ffffff;
  background-color: green;
  font-weight:bolder;

}

.job-dates{
  display: flex;
  flex-direction: column;
}

.provider-actions{
display:flex;
}

