
.provider-container{
  margin-top: 15vh;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #ebb43f;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
}

.provider-grid{

padding:50px;
display:grid
}
// .user-dashboard-items {

//   margin-top: 5em;
// }

.provider-grid-1 {
  padding: 8vh;
  margin: 2vh;
  background-color: #9E7A2B;
  border-radius: 50px;
  font-family: none;
  font-weight: 400;
  font-size: large;
  text-decoration: none;
}

.provider-grid-2 {
  padding: 8vh;
  margin: 2vh;
  background-color: #9E7A2B;
  border-radius: 50px;
  font-family: none;
  font-weight: 400;
  font-size: large;
  text-decoration: none;
}
.provider-grid-2:hover {
  padding: 8vh;
  margin: 2vh;
  background-color: #5e5919;
  font-family: none;
  font-weight: 400;
  font-size: large;
  color:white
}

.provider-grid-1:hover {
  padding: 8vh;
  margin: 2vh;
  background-color: #5e5919;
  color:white;
  font-family: none;
  font-weight: 400;
  font-size: large;
}

.provider-profile {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider-profile img{
width:30%
}

 a {
    color: white;
    text-decoration: none;
}

.provider-profile p {

  font-size: x-large;
}

.provider-profile h1 {
margin-top: 5vh;
}

.category-name p {
font-size: x-large;
font-weight: bolder;
}

#cat-names {
font-size:x-large;
}