.offerlistitem-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  border-color: black;
  border-style: solid;
  border-radius: 2vh;
  margin: 5vh;
}

.offerlistitem-container:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  border-color: black;
  border-style: solid;
  border-radius: 2vh;
  margin: 5vh;
  box-shadow: 10px 10px 5px grey;
}



.offerlistitem-details {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.offerlistitem-details img {

  width:18vh;
  border-radius: 20vh;
}

.offerlistitem-details h2 {
color:black;

}

.offerlist-actions{
  display: flex;
  flex-direction: column;
}

.offerlist-quote {
  margin-bottom: 3vh;
  padding: 2vh;
  font-size: x-large;
}