.form-container h2{
  color:black;
}

.edit-image {
  width: 30vh;
  border-radius: 15px;
}

.form-container{
  margin-top: 12vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-cancel {
  display:flex;
}

.edit-image{
  display:flex;
  align-items: center;
}

.request-edit{
  top: -15vh;
}