.listitem-container {
  display: flex;
  margin: top 4vh;
  margin-bottom: 8vh;
  margin-right: 8vh;
  margin-left: 8vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url(https://www.transparenttextures.com/patterns/crissxcross.png);
  background-color: #aaaaaa;
  border-radius: 20px;
}

.listitem-container:hover {
  display: flex;
  margin: top 4vh;
  margin-bottom: 8vh;
  margin-right: 8vh;
  margin-left: 8vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 5px grey;
  color: white;
  background-image: url(https://www.transparenttextures.com/patterns/crissxcross.png);
  background-color: #aaaaaa;
  border-radius: 20px;
}

.request-list {
  margin-top: 25vh;
  padding: 10px;
}

.listitem-footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding-bottom: 16px;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.info-text {
  color: black;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.text-info-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  // width: 100%;
  // justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3vh;
  max-width: 200px;
  min-width:180px;
}

.text-info-header h2 {
  color: black;
  font-weight: larger;
  font-size: xx-large;
}

.side-info-header {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  max-width: 200px;
  min-width:180px;
}

.info-items {
  display: flex;
    flex-direction: column;
}

.description {
  display:flex;
}

.request-service-btn {
  background-color: coral;
  position: sticky;
  color: black;
  margin: 2vh;
}

.requestlist-date-offer {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-radius: 3vh;
  padding: 2vh;
  font-size: x-large;
}

.reviewstars-complete {
  display: flex;
  flex-direction: column;
  border-color: black;
  align-items: center;
  // max-width:100px
}

.btn {
  border-color: white;
  border-style: solid;
  margin: 1vh;
}

.btn-offer-btn {
  border-color: black;
  border-style: solid;
  margin: 1vh;
}

.btn-warning {
  border-color: black;
  border-style: solid;
  margin: 1vh;
}

.text-info-header p {
}

.stars-requestlistiitem {
transform: scale(0.7);

}
