.listitem-container {
  display: flex;
  padding-top: 1vh;
  margin: top 4vh;
  margin-bottom: 8vh;
  margin-right:8vh;
  margin-left:8vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border-color: black;
  border-style: solid;
  flex-direction: column;
}

.listitem-container:hover {
  display: flex;
  padding-top: 1vh;
  margin: top 4vh;
  margin-bottom: 8vh;
  margin-right:8vh;
  margin-left:8vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border-color: black;
  border-style: solid;
  flex-direction: column;
  box-shadow: 10px 10px 5px grey;
}

.request-list {
  margin-top: 25vh;
  padding: 10px;
}

.listitem-footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding-bottom: 16px;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.info-text {
  color: black;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.text-info-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3vh;
}

.side-info-header {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
}

.info-items {
  display: flex;
}

.request-service-btn {
  background-color: coral;
  position: sticky;
  color: black;
  margin: 2vh;
}

.requestlist-date-offer {
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-radius: 3vh;
  padding: 2vh;
  font-size: x-large;
}

.reviewstars-complete {
  display: flex;
  flex-direction: column;
  border-color: black;
  align-items: center;
}

.btn {
  border-color:white;
  border-style:solid;
  margin:1vh;
}

.btn-offer-btn{
  border-color:black;
  border-style:solid;
  margin:1vh;

}

.btn-warning {
  border-color:black;
  border-style:solid;
  margin:1vh;
}