
.user-dashboard-container{
  margin-top: 20vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  background-color: #ebb43f;
  background-image: url(https://www.transparenttextures.com/patterns/crissxcross.png);
}


.user-dashboard-items {
  margin-top: 5vh;
}

.user-dashboard-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  margin: 2vh;
  font-size: xx-large;
}

.user-dashboard-items img {
  width:40%
}

.user-dashboard-button button {
  background-color: #9E7A2B;
  border-radius: 50px;
  border-color:#9E7A2B;
  font-size: larger;
}

.user-dashboard-button button:hover {
  background-color: #5E4919;
  border-radius: 50px;
  font-size: larger;
}

