.main-container {
  display: flex;
  margin-top: 5vh;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5vh;
  background-image: url(../images/background-image.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 95vh;
}

.home-container {
  margin-top: 10vh;
}

.img {
  opacity: 0.5;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 4vh;
  background-color: blanchedalmond;
  background: rgba(97, 96, 95, 0.8);
  color: white;
  margin-top: 48vh;
  border-radius: 8px;
}

.its-handy-steps {
  display: flex;
  margin: 4vh;
  color: white;
  background-color: rgba(97, 96, 95, 0.8);
  border-radius: 8px;
  padding: 8px
}


h2 {
  color: white;
}

.its-handy-steps p {
  color: white;
  font-weight:900;
}

.about h1 {
  margin-top: 1vh;
}

// .logo {
//   background-image: url(../../public/background-image.jpeg)';'
// }
