nav.navbar-menu {
  width: 100%;
  background-color: #4056A1;
  color: white;
  padding: 0.5vh;
  position: fixed;
  top: 0;
  z-index: 9;
}

.navbar-items-container {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}


.user-action-nav {

  display: flex;
  justify-content: space-between;
  
}

.user-action-nav .navbar-items{

  margin-left: 15px;
  
}