nav.navbar-menu {
  width:90%;
  background-color: transparent;
  display: flex;
  color: white;
  padding: 0.5vh;
  position: absolute;
  top: 0;
  z-index: 9;
  justify-content: space-between;
  align-items: center;
  background-color:transparent;

}





.navbar-items-container {
  display: flex;
  justify-content: space-between;
  margin-right: -1vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

 .navbar-brand img {
  max-width: 15vh;
  height: auto;
}

.navbar-items {
 background-color:#e5b343;
  margin: 1vh;
  border:0px;
  font-weight:bold;
}


.user-action-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: large;
}

.user-action-nav .navbar-items{
  margin-left: 15px;
}
.navbar-items-container-1 {
  display:flex;
  align-items: center;
  margin-right: 0.5vh;
}
.user-action-nav button {

font-size:x-large
}

.navbar-items-container-1 button {
  font-size:x-large
}

.navbar-items-container-1 button:hover {
  font-size:x-large;
  background-color: #5E4919
}

h3 {
  margin: 1px;
  color: black;
}


