nav.navbar-menu {
  width: 100%;
  background-color: #4056A1;
  color: white;
  padding: 0.5em;
  position: fixed;
  top: 0;
  z-index: 9;
}

.navbar-items-container {
  display: flex;
  justify-content: space-between;
}